*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    background: dodgerblue;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.main:active{
    background: red;
}
.btn{
    width: 300px;
    height: 298px;
    border-radius: 50%;
    border: none;
    box-shadow: 10px 10px 10px red;
}
.btn:active{
    transform: scale(0.9);
    outline: 25px solid red;
}
 

.count{
    font-size: 70px;
}
.bnt{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid red;
    color: white;
    font-size: 32px;
    background: violet;
    border: none;
    margin-left: 50px;
    box-shadow: 5px 5px 5px red;

}
.bnt:active{
    transform: scale(.9);
    outline:15px solid blue;
}